<html>
    <head>

    </head>
    <body>
        
        <form action="/blog3" method='post'>
            <input type="text" name ="Weight" placeholder="Enter Weight in Kgs" required='required' />
            <input type="text" name ="Height" placeholder="Enter Height in Cms" required='required' />
            <input type="text" name ="Gender" placeholder="Enter Gender(Male/Female)" required='required' />
            <input type="text" name ="Age" placeholder="Enter Age" required='required' />
            
            <button type='submit'>Calculate</button>
        </form>

    </body>

</html>