<html>
    <head>

    </head>
    <body>
    
        <form action="/blog1" method='post'>
            <input type="text" name ="Pregnancies" placeholder="Pregnancies" required='required' />
            <input type="text" name ="PlasmaGlucose" placeholder="PlasmaGlucose" required='required' />
            <input type="text" name ="BloodPresssure" placeholder="BloodPresssure" required='required' />
            <input type="text" name ="SkinThickness" placeholder="SkinThickness" required='required' />
            <input type="text" name ="Insulin" placeholder="Insulin" required='required' />
            <input type="text" name ="BMI" placeholder="BMI" required='required' />
            <input type="text" name ="DiabetesPedigree" placeholder="DiabetesPedigree" required='required' />
            <input type="text" name ="Age" placeholder="Age " required='required' />

            <button type='submit'>Predict</button>
        </form>

    </body>

</html>
